@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: white;
  }
}


/* html {
    color-scheme: light;
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      background-color: white;
      color: black;
    }
} */


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter",Arial, Helvetica, sans-serif;
}
